<body>
    <div class="container">
      <form action="{{url_for('getPredict')}}" method="POST">
        <h1 style="color:DodgerBlue;">₊˚ 🎀ꔛ🧸﹆ 𝓣𝓡𝓐𝓥𝓔𝓛 𝓘𝓝𝓢𝓡𝓤𝓝𝓒𝓔 𝓟𝓡𝓔𝓓𝓘𝓒𝓣𝓘𝓞𝓝 Model Result₊˚ 🎀ꔛ🧸﹆ </h1>
        <p>Input variables in model</p>
        <hr>
        
        <label for="value"><b>Variable 1</b></label>
        <input type="text" placeholder="Enter Age" name="Age" required>
        
        <label for="value"><b>Variable 2</b></label>
        <input type="text" placeholder="Enter employment_type" name="employment_type" required>
        
        <label for="value"><b>Variable 3</b></label>
        <input type="text" placeholder="Enter output" name="output" required>

        <label for="value"><b>Variable 4</b></label>
        <input type="text" placeholder="Enter family_members" name="family_members" required>

        <label for="value"><b>Variable 5</b></label>
        <input type="text" placeholder="Enter chronic_diseases" name="chronic_diseases" required>

        <label for="value"><b>Variable 6</b></label>
        <input type="text" placeholder="Enter travel_insurance" name="travel_insurance" required>

        
        <hr>
        
        <button type="submit" class="predictbtn">Get prediction</button>
      </form>
  
      <br>
      <br>
      <h1 style="color:IndianRed;">{{prediction_text}}</h1>
    </div>
  </body>