body {
    background-image: url("/image/bg1.jpg");
    font-family: ms Ui gothic;
    font-size: 16px;
    color: black;
    letter-spacing: 0px;
    line-height: 16px;
}

#the-layout {
    width: 800px;
    min-height: 500px;
    border: 0px solid lightblue;
    margin-right: auto;
    margin-left: auto;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    border-width: 9px;
    border-style: solid;
    border-image: url(/image/border2.jpg) 9 fill round;
    padding: 6px;
}

#section {
    width: 810px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    justify-content: center;
}

header {
    width: 800px;
    height: 190px;
    background-repeat: no-repeat;
    background-image: url(/image/cover1.png);
    border: 1px solid hotpink;
}

.art-blackboard {
    width: 172px;
    height: 190px;
    background-image: url('https://files.catbox.moe/37z61j.png')
}

.menu {
    width: 97%;
    border: 2px groove pink;
    ;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
    background: rgb(255, 244, 248);
    background: linear-gradient(180deg, rgba(255, 244, 248, 1) 0%, rgba(255, 214, 229, 1) 100%);
}

.clock {
    width: 162px;
    border: 2px groove pink;
    border-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
    background: rgb(223, 235, 255);
    background: linear-gradient(180deg, rgba(223, 235, 255, 1) 33%, rgba(197, 219, 255, 1) 57%);
    text-align: center;
}

.left,
.middle,
.right {
    position: relative;
    margin: 0.5px;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.black-board {
    width: 170px;
    min-height: 220px;
    background: #006734;
    margin-top: 5px;
    color: white;
    border-image-slice: 26 20 18 19;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("https://files.catbox.moe/fcotkl.jpg");
    border-style: solid;
}

.black-board p {
    margin: 0px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.float1 {
    float: left;
    margin-right: 5px;
}

.float2 {
    float: right;
    margin-left: 3.5px;
}

.bar {
    background: rgb(255, 236, 184);
    background: linear-gradient(80deg, rgba(255, 236, 184, 1) 0%, rgba(255, 218, 134, 1) 100%);
    padding: 7px;
    width: 100.5%;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    margin-bottom: 5.5px;
    margin-top: 5px;
    color: #ff82da;
    margin-left: -5px;
    background: rgb(255, 199, 209);
    background: linear-gradient(80deg, rgba(255, 199, 209, 1) 0%, rgba(255, 213, 184, 1) 13%, rgba(255, 251, 212, 1) 24%, rgba(226, 255, 217, 1) 36%, rgba(216, 243, 255, 1) 48%, rgba(214, 220, 255, 1) 59%, rgba(235, 212, 255, 1) 68%, rgba(235, 212, 255, 1) 68%, rgba(255, 214, 240, 1) 79%, rgba(248, 215, 225, 1) 92%, rgba(244, 216, 221, 1) 100%, rgba(189, 226, 255, 1) 100%);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}

.middle p {
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

textarea {
    resize: none;
    width: 81px;
    height: 33px;
}

.linkme {
    float: left;
    margin-right: 25px;
    margin-top: 10px;
    padding: 5px;
    border: 2px groove lightgray;
    font-weight: bold;
    width: 120px;
    color: purple;

}

.navigation {
    position: relative;
    width: 170px;
    min-height: 500px;
    overflow-x: hidden;
    margin-bottom: 15px;
    border-radius: 17px 17px 0px 0px;
}

a {
    color: #4040ff;
}

.container {
    position: relative;
    width: 610px;
    min-height: 620px;
    border: 2px groove pink;
    background: #fffeed;
    overflow-x: hidden;
    border-radius: 5px;
}

p {
    margin: 9px;
}

.bulletin-board {
    width: 90%;
    margin: auto;
    padding: 17px;
    min-height: 100px;
    max-height: 150px;
    border: 0px groove lightgray;
    background-image: url("https://files.catbox.moe/wqquwv.gif");
    margin-bottom: 10px;
    margin-top: 15px;
}

.content {
    width: 100%;
    border: 2px dashed orange;
    background: #fffae8;
    min-height: 95px;
    padding: 3px;
}

.content .float1 {
    margin: 5px;
    margin-left: 10px;
}

.content .float2 {
    margin: 5px;
    margin-right: 10px;
}

.date {
    text-decoration: #86c7e3 dotted underline;
}

.advert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    width: 180px;
}

.black-board {
    width: 170px;
    min-height: 230px;
    background: #006734;
    margin-top: 5px;
    color: white;
    border-image-slice: 26 20 18 19;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("https://files.catbox.moe/fcotkl.jpg");
    border-style: solid;
}

.black-board p {
    margin: 0px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 5px;
}

.bar2 {
    padding: 4px;
    width: 65%;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    border-right: 1px dotted #666666;
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom: 5.5px;
    margin-top: 10px;
    background: rgb(242, 255, 238);
    background: linear-gradient(90deg,
            rgba(242, 255, 238, 1) 0%,
            rgba(193, 240, 205, 1) 100%);
    border-radius: 0px 30px 30px 0px;
    color: #ff8cdd;
    font-weight: 600;
}

.bar3 {
    background: rgb(255, 239, 217);
    background: linear-gradient(55deg, rgba(255, 239, 217, 1) 0%, rgba(255, 210, 108, 1) 100%);
    padding: 4px;
    width: 65%;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    border-right: 1px dotted #666666;
    font-size: 18px;
    padding-bottom: 2px;
    border-radius: 0px 30px 30px 0px;
    margin-bottom: 10px;
    color: #ff8cdd;
    font-weight: 600;
}

.profile {
    width: 170px;
    border: 2px groove pink;
    background: #fffeed;
    /* min-height: ; */
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.icon {
    padding: 5px;
    background-image: url("https://swirl.neocities.org/images/checker!.png");
    border-bottom: 1px groove pink;
}

.icon img {
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
}

.summer img {
    position: fixed;
    left: 0px;
    top: 0px;
}

.flower img {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

textarea {
    resize: none;
    height: 25px;
    width: 88px;
}

.two:hover {
    font-style: normal;
}

footer {
    width: 600px;
    border: 2px groove pink;
    ;
    margin-top: 10px;
    padding: 5px;
    background: rgb(255, 244, 248);
    background: linear-gradient(180deg, rgba(255, 244, 248, 1) 0%, rgba(255, 214, 229, 1) 100%);
    border-radius: 5px;
}

table,
th,
td {
    border: 1px dotted hotpink;
    margin-bottom: 10px;
}