body {
    background-image: url("https://files.catbox.moe/ktf391.gif");
    width: 1080px;
    font-family: ms pgothic;
    color: #6d5f54;
    font-size: 16px;
    image-rendering: crisp-edges;
}
#THE-LAYOUT {
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    border-width: 9px;
    border-style: solid;
    border-image: url(https://files.catbox.moe/bohyk4.png) 9 fill round;
    padding: 5px;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    padding-right: 10px;
    position: Relative;
    z-index: 100;
    margin-top: 30px;
}
.rainbow {
    position: absolute;
    z-index: 0;
    top: -100px;
    left: -230px;
    transform: rotate(-30deg);
}
.bubble {
    position: absolute;
    z-index: 230;
    top: 300px;
    left: 910px;
    transform: rotate(-30deg);
}
.top {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    border: 1px solid pink;
    border-radius: 20px 20px 0px 0px;
    background: rgb(255, 222, 221);
    background: linear-gradient(
        90deg,
        rgba(255, 222, 221, 1) 0%,
        rgba(255, 232, 217, 1) 10%,
        rgba(255, 244, 212, 1) 20%,
        rgba(231, 255, 224, 1) 30%,
        rgba(227, 252, 236, 1) 40%,
        rgba(226, 249, 248, 1) 50%,
        rgba(225, 237, 254, 1) 60%,
        rgba(225, 226, 255, 1) 70%,
        rgba(243, 224, 255, 1) 80%,
        rgba(251, 212, 239, 1) 90%,
        rgba(255, 229, 239, 1) 100%
    );
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
        0px 0px 2px #cccacb;
    position: relative;
    z-index: 100;
}
header {
    background-image: url("/image/cover.png"); 
    width: 100%;
    height: 235px;
    border: 2px solid pink;
    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
        0px 0px 2px #cccacb;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    position: Relative;
}
.clock {
    width: 162px;
    border: 1px groove pink;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
        0px 0px 2px #cccacb;
    background: rgb(255, 240, 246);
    background: linear-gradient(
        180deg,
        rgba(255, 240, 246, 1) 31%,
        rgba(255, 224, 237, 1) 49%
    );
    text-align: center;
    margin: 100px;
    border-radius: 8px;
    margin-left: 220px;
    font-weight: 600;
    color: #928375;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
}
.marquee {
    width: 611px;
    border: 1px groove pink;
    margin-bottom: 5px;
    height: 20px;
    padding: 9px;
    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
        0px 0px 2px #cccacb;
    background: rgb(255, 240, 246);
    background: linear-gradient(
        180deg,
        rgba(255, 240, 246, 1) 31%,
        rgba(255, 224, 237, 1) 49%
    );
    text-align: center;
    font-weight: 600;
    color: #ffb6d2;
    margin-top: 10px;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px,
        rgb(255, 255, 255) 0.540302px 0.841471px 0px,
        rgb(255, 255, 255) -0.416147px 0.909297px 0px,
        rgb(255, 255, 255) -0.989992px 0.14112px 0px,
        rgb(255, 255, 255) -0.653644px -0.756802px 0px,
        rgb(255, 255, 255) 0.283662px -0.958924px 0px,
        rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}
#section {
    width: 810px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    justify-content: center;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
}
a:hover {
    margin-left: 8px;
}
a {
    margin-left: 5px;
}
li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul {
    padding-left: 0px;
    margin: 0px;
}
a {
    color: #4040ff;
}
.right {
    width: 178px;
}
.box {
    width: 440px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}
#section2 {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    justify-content: center;
    background-image: url("https://files.catbox.moe/qgigtj.gif");
    animation: background 75s linear infinite;
}
.float1 {
    float: left;
    margin-right: 5px;
}
.float2 {
    float: right;
    margin-left: 3.5px;
}
.bar {
    padding: 7px;
    width: 100.5%;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    margin-bottom: 5.5px;
    margin-top: 5px;
    margin-left: -10px;
    color: #ff82da;
    margin-left: -10px;
    background: rgb(255, 222, 221);
    background: linear-gradient(
        90deg,
        rgba(255, 222, 221, 1) 0%,
        rgba(255, 232, 217, 1) 10%,
        rgba(255, 244, 212, 1) 20%,
        rgba(231, 255, 224, 1) 30%,
        rgba(227, 252, 236, 1) 40%,
        rgba(226, 249, 248, 1) 50%,
        rgba(225, 237, 254, 1) 60%,
        rgba(225, 226, 255, 1) 70%,
        rgba(243, 224, 255, 1) 80%,
        rgba(251, 212, 239, 1) 90%,
        rgba(255, 229, 239, 1) 100%
    );
}
.bulletin-board {
    width: 90%;
    margin: auto;
    padding: 14px;
    min-height: 100px;
    max-height: 150px;
    border: 0px groove lightgray;
    background-image: url("https://swirl.neocities.org/assets/sitely/wqquwv.gif");
    margin-bottom: 10px;
    margin-top: 10px;
}
.content {
    width: 98%;
    border: 2px dashed orange;
    background: #fffae8;
    min-height: 95px;
    padding: 3px;
}
.content .float1 {
    margin: 5px;
    margin-left: 10px;
}
.content .float2 {
    margin: 5px;
    margin-right: 10px;
}
.date {
    text-decoration: #86c7e3 dotted underline;
}
a {
    color: #68a0e3;
}
.butonas {
    width: 15px;
    height: 15px;
    padding: 5px;
    padding-right: 10px;
    background: rgb(255, 222, 221);
    background: linear-gradient(
        180deg,
        rgba(255, 222, 221, 1) 0%,
        rgba(255, 232, 217, 1) 10%,
        rgba(255, 244, 212, 1) 20%,
        rgba(231, 255, 224, 1) 30%,
        rgba(227, 252, 236, 1) 40%,
        rgba(226, 249, 248, 1) 50%,
        rgba(225, 237, 254, 1) 60%,
        rgba(225, 226, 255, 1) 70%,
        rgba(243, 224, 255, 1) 80%,
        rgba(251, 212, 239, 1) 90%,
        rgba(255, 182, 210, 1) 100%
    );
    float: right;
    border: 1px solid pink;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    box-shadow: -1px -1.4px 1px inset #9e9699, 2px 3px 1.5px inset white,
        0px 0px 2px #cccacb;
    margin-top: -3px;
}
.butonas a:hover {
    margin: 0px;
}
.profile {
    width: 174px;
    height: 210px;
    border: 1px solid darkgray;
    background: White;
    margin-top: -5px;
    border-radius: 5px;
}
.container {
    width: 97%;
    background: url("https://files.catbox.moe/duvlq7.gif");
    border: 1px solid darkgray;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 6px;
    padding-bottom: 22px;
    padding-top: 22px;
}
.inside {
    width: 90%;
    margin: auto;
    border: 1px solid pink;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background: White;
}
@keyframes background {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
.mini {
    width: 165px;
    height: auto;
    margin-top: 10px;
    border: 2px groove pink;
    background: lightyellow;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}
.boxing {
    width: 48%;
    height: 220px;
    border: 1px solid darkgray;
    background: White;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    box-sizing: Border-box;
}
.boxing li {
    list-style-image: url("https://swirl.neocities.org/gallery/Pencil.png");
    padding: 0px;
    margin: 0px;
}
.border {
    width: 170px;
    height: 150px;
    border: 2px solid #674a42;
    background: #408040;
    padding: 3px;
    color: white;
    border-radius: 3px;
    text-decoration: underline;
}
.navigation {
    position: relative;
    width: 170px;
    min-height: 500px;
    overflow-x: hidden;
    margin-bottom: 15px;
    border-radius: 17px 17px 0px 0px;
}